body {margin: 0; padding: 0;}
.container {width: 950px; background: skyblue; margin: 0 auto; padding: 10px;}
img{border-radius: 150px; border: 4px solid white; padding: 5px;}
img:hover{background: orange;}
input{margin-left: 140px;}